*{
    margin:0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.first-section-wrap{
    width:90%;
    height:130vh;
    background:white;
    margin-left:auto;
    margin-right:auto;
  
}
.header{
    
    height:60px;
    width:100%;
    display:flex;
    justify-content:space-between;
    margin-top:50px;
    align-items:center;
    margin-left:auto;
    margin-right:auto;
    
}
.nav-bar{
    display:flex;
    justify-content:space-between;
}
.nav-bar a{
    width:150px;
   
    text-decoration:none;
    font-weight:bold;
    color:black;
}
.sign-up button{
    height:60px;
    width:176px;
    background:black;
    color:white;
}
.interior-design-wrap{
    width:100%;
   margin-left:auto;
   margin-right:auto;
}
.upper-section{
    display:flex;
    justify-content:space-between;
    margin-top:50px;
}
.upper-section .words{
    width:600px;
}
.largest-heading{
    font-size:100px;
    width:700px;
}
.upper-section-tagline {
    width:500px;
    margin-top:50px;
}
.pics img{
    height:300px;
    width:500px;
}
.lower-section{
    display:flex;
    justify-content:flex-start;
}
.completed{
    display:flex;
    justify-content:space-between;
    width:500px;
    margin-top:130px;
}
.big-400{
    font-size:32px;
}
.start-button-container button{
    height:60px;
    width:176px;
    background:black;
    color:white;
    margin-top:50px;
    font-size:large;
}
.second-image{
    margin-top:60px;
    margin-left:-50px;
    position:relative;
    z-index:2;
}

.second-image img{
    width:500px;
    height:300px;
    margin-left:130px;
}
.bg-box{
    width: 150px;
    height:130px;
    position:absolute;
    margin-top:-340px;
    margin-left:110px;
    z-index:-5;
}
.nav-down-arrow img{
    height:80px;
    width:80px;
    
}

.arrow-down-container{
    height:10px;
    width:500px;
    position:relative;

}
.nav-down-arrow{
    position:absolute;
    margin-left:460px;
    margin-top:-86px;
}
/* ------------ */
.second-section-wrap{
    height:400px;
    width:90%;
    margin-left:auto;
    margin-right:auto;
}
.our-service-container{
    display:flex;
    padding-top:50px;
    width:350px;
    justify-content:space-between

}
.straight-line{
    width:80px;
    color:black;
    margin-top:24px;
    border:1px solid;
    height:1px;
    border-style:double;

    
}
.our-service-container h2{
    font-size:40px;
    font-weight:light;
}
.service-content{
    margin-top:50px;
    height:200px;
    width:100%;
    display:flex;
    justify-content:space-between;
    margin-bottom:50px;
}
.lighting-container{
    display:flex;
    justify-content:space-between;
    margin-top:50px;
}
.words-content{
    width:250px;

}
.words-content p{
    color: #545454;
}
.chandelier{
    margin-right:30px;
}
.chandelier img{
margin-top:-5px;
}
/* ----------- */
.third-section-wrap{
    height:700px;
    width:90%;
    display:flex;
    justify-content:space-between;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:50px;
  
}
.projects{
    display:flex;
    width:500px;
    justify-content:space-between;
    margin-top:20px;
    
}
.projects h4{
    font-size:23px;
}
.designing-image img{
    width: 500px;
    height:600px;
}
.designing h3{
    font-size:50px;
}
.projects-icon{
    margin-right:50px;
    margin-top:-20px;
}
.empty{
    border:1px black;
    height:30px;
    width:1px;
    border-style:double;
    background-color:black;
    margin-left:34px;
   
}
/* ------------ */
.missed-section-wrap{
    height:600px;
    width:90%;
    display:flex;
    justify-content:space-between;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
 
  
}
.missed-image img{
    width:550px;
    height:450px;
}
.missed-words{
    width:600px;
    height:450px;
}



.missed-words h3{
    font-size:30px;
    margin-bottom:30px;
}
.added-option{
    display:flex;
    justify-content:space-between;
}
.added-option{
   
   padding-block: 20px;
}
.missed-words button{
   
    height:60px;
    width:176px;
    background:black;
    color:white;
    margin-top:145px;
    font-size:large;
}
/* ------ */
.review-wrap{
    height:600px;
    width:90%;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    padding-top:50px;
    /* border:1px green solid;
 */
   
}
.first-section{
    display:flex;
    justify-content:space-around;
}

.review-room-pic img{
    width:600px;
    height:500px;
}
.review-wrap-heading h2{
    width:400px;
    font-size:40px;
    
}
.arrows{
    margin-top:25px;
}
.arrows img{
    width:60px;
    height:60px;
    margin-right:10px;
}
.review-white-background{
    height:400px;
    width:950px;
    background:white;
    display:flex;
    justify-content:space-around;
    position:absolute;
    top:191px;
    left:220px;
   
}
.female-wrap{
    width:40%;
    height:90%;
    background:black;
   margin-top:38px;
   color:white;
   text-align:center;
   justify-items:center;
  
}
.male-wrap{
    width:40%;
    height:90%;
    background:black;
    margin-top:38px;
    color:white;
    justify-items:center;
    text-align:center;
   
}
.tag-and-pic{
    display:flex;
    margin-top:50px;
    
    

}
.tag-and-pic img{
    margin-right:20px;
   
    border-radius:50%;

}
.review-content{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    
}
.quote{
    font-size:36px;
    margin-left:0;
    margin-top:30px;
    margin-bottom:50px;
}
.reviewer-name{
    margin-top:10px;
}

.bottom-section-wrap{
    margin-top:70px;
   justify-items:center;
   height:300px;
}
.bottom-section{
    width:500px;
    text-align:center;
}
.bottom-section h2{
    font-size:35px;
   margin-bottom:50px;
}
.email-n-sub-wrap{
    margin-top:50px;
    width:700px;
    background:white;
    height:50px;
   /*  border:1px solid black; */
    justify-items:center;
   /*  border:2px solid red; */
    box-shadow: 5px;
    
}

.email-n-sub input{
    height:44px;
    width:500px;
    margin-top:auto;
    margin-bottom:auto;

}
.email-n-sub button{
    height:47px;
    width:150px;
    margin-left:30px;
    background:black;
    color:white;
    border-radius: 5px;
}

.footer-wrap{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    height:600px;
    background:black;
    color:white;
    display:flex;
    justify-content:space-between;
    padding-top:50px;
}
.services-stuff-wrap{
    height:400px;
    width:700px;
    display:flex;
    justify-content:space-around;
    padding-top:50px;
}
.logo-stuff{
    width:350px;
    height:400px;
    padding-top:50px;
    padding-left:80px;

}
.logo-stuff .logo{
    margin-bottom:50px;
}
.logo-stuff p{
    width:250px;
}
.socio{
    margin-top:100px;
    display:flex;
    justify-content:space-between;
    width:250px;
}
.services-stuff-wrap h4{
    margin-left:45px;
}
.services-stuff-wrap li{
    list-style-type: none;
}

/* ------------------------------------------------------------------------ */
@media all and (max-width:600px){

   *{
  
   font-size:12px;
    width:100%;
  /*   overflow:hidden; */

    
   
   }
   body{
    width:100%;
   /*  border:1px solid red; */
 
    
   }

   
    .first-section-wrap{
        width:90%;
        height:1300px;
        background:white;
       /*  border:1px purple solid; */
       margin-left:auto;
       margin-right:auto;
    }
    .header{
        /* border:1px solid green; */
        justify-content:none;
    }
    .sign-up{
        width:70px;
        /* border:1px solid purple; */
        height:50px;
    }

.sign-up button{
    width:60px;
    height:50px;

}
.nav-bar{
    display:none;
}
.nav-bar a{
    width:150px;
   
    text-decoration:none;
    font-weight:bold;
    color:black;
}

.logo img{
    width:85px;
    height:50px;
}
.interior-design-wrap{
    width:100%;
   
}
.upper-section{
    display:flex;
    flex-direction:column;
    width:100%;
    margin-top:10px;
    /* border:1px solid blue; */
    height:550px;
   
}
.upper-section .words{
    width:100%;
    /* border:1px green solid; */
    margin-top:0;
}
.largest-heading{
    width:100%;
    font-size:4px;
    font-weight:600;
    margin-bottom:15px;
} 
.upper-section img{
    width:100%;
}
.words{
   /*  border:1px solid green; */
    height:250px;
    padding-top:0;
}

.upper-section-tagline{
    width:100%;
    margin:auto;
    margin-bottom:30px;
    line-height:1.5;
}
.largest-heading{
    font-size:50px;
    width:100%;
    margin-top:50px;
}
.lower-section{
    display:flex;
    flex-direction: column;
    height:650px;
    width:100%;
   /*  border:1px solid orange; */
    margin-top:30px;
  
}
.completed{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    width:30%;
    height:220px;
    margin-top:20px;
    display:block;
    margin-left:auto;
    margin-right:auto;
   /*  border:1px green solid; */
    padding-left:0;
    
}
.big-400{
    font-size:40px;
    margin-left:auto;
    margin-right:auto;
   
   
}

.boxes-container{
    /* border:green 1px solid; */
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
}
.second-image{
    width:100%;
   /*  border:1px indigo solid; */
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
}
.second-image .second-pic{
    width:100%;
    margin-left:0;
    margin-right:auto;
    height:100%;
}

    .start-button-container button{
        height:60px;
        width:176px;
        background:black;
        color:white;
        margin-top:50px;
        font-size:large;
        display:block;
        margin-right:auto;
        margin-left:auto;    
   
}
/* --------------- */
.second-section-wrap{
    height:1100px;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    
    /* border:1px purple solid; */
}

.nav-down-arrow img{
    /* height:80px;
    width:80px;
     */
     display:none;
}

.arrow-down-container{
    /* height:10px;
    width:500px;
    position:unset; */
    display:none;

}
.nav-down-arrow{
   /* position:unset;
   left:0; */
   display:none;
}
.our-service-container{
    display:flex;
    flex-direction:column;
    padding-top:5px;
    width:100%;
    justify-content:space-between;
  
}
.our-service-container h2{
    font-size:27px;
    text-align: center;
}
.words-content h3{
font-size:16px;
}
.chandelier img{
    height:75%;
    padding-top:0;
}
.lighting-container{
    padding-top:50px;
   /*  border:1px solid brown; */
}
.straight-line{
    display:none;
}
.service-content{
    flex-direction: column;
    margin-top:5px;
   /*  border:1px solid green;
    height:900px; */
    padding-bottom:50px;
    width:98%;
    padding-right:auto;
    padding-left:auto;
}
/* --------------------------------------------------------------------------------------------------- */
.missed-section-wrap{
    flex-direction:column;
    height:970px;
   /*  border:1px blue solid; */
    width:90%;
    justify-content:space-evenly;
   
}
.missed-words button{
    /* border:1px solid green; */
    height:60px;
    margin-top:50px;
}
.missed-section-wrap img{
    width:100%;
    height:400px;
}
.missed-words{
    width:90%;
    padding-left:5px;
    margin-bottom:20px;
}
.missed-words h3{
    font-size:27px;
    text-align:center;
}
/* --------------------------------------------------- */
.third-section-wrap{
    width:90%;
    /* border:1px green solid; */
    justify-content: space-between;
    height:1100px;
    flex-direction: column;
    margin-top:30px;
    padding-bottom:50px;
}
.designing{
    flex-direction:column;
    justify-content: space-evenly;
    height:830px;
    /* border:1px yellow solid; */
    width:100%;
}
.designing h3{
    font-size:27px;
    text-align:center;
}
.designing .empty{
    display:none;
}

.projects{
    width:100%;
    justify-content:space-between;
    /* border:1px brown solid; */
    height:160px;
    margin-bottom:10px;
    padding-top:15px;
    
   
}
.projects-icon{
   /*  border:1px yellow solid; */
    width:400px;
    
}
.projects-icon img{
    height:130px;
    margin-bottom:0;
    margin-top:18px;
}
.designing-image img{
    width:100%;
    height:400px;
}
.designing h3{
    font-size:28px;
}
/* ----------------------------------------------- */
.review-wrap{
    height:1500px;
    width:90%;
   /*  border:1px green solid; */
    flex-direction:column;
    position:unset;
}
.first-section{
    flex-direction: column;
    height:600px;
   /*  border:1px brown solid; */
   margin-bottom:30px;
}
.first-section img{
    width:100%;
}

.review-white-background{
    flex-direction: column;
    height:800px;
    width:100%;
    margin-left:0;
    margin-right:0;
   /*  border:blue 2px solid; */
    position:unset;
    display:space-between;
    padding-top:0;
    
}
.review-wrap-heading h2{
    font-size:27px;
    width:90%;
    
}
.review-wrap-heading{
    width:100%;
    /* border:1px solid green; */
    height:100px;
    padding-top:20px;

}
.arrows img{
    height:50px;
    width:50px;
}
.female-wrap{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    height:40%;
}
.male-wrap{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    height:40%;
    margin-top:0;
}
.review-content img{
    width:50px;
    height:50px;
}
/* -------------------------------------------------------------- */
.bottom-section-wrap{
    margin-top:40px;
    width:90%;
    /* border:1px blue solid; */
    height:250px;
    margin-left:auto;
    margin-right:auto;
 

}
.bottom-section h2{
    width:100%;
    font-size:20px;
}
.bottom-section{
    width:100%;
}

.email-n-sub-wrap{
    width:90%;
   /*  border:1px solid greenyellow; */
    margin-left:0;
    margin-right:0;

}
.socio img{
    width:40px;
}
.email-n-sub{
    width:100%;
    padding-left:auto;
    padding-right:auto;
}
.email-n-sub-wrap input{
    width:55%;
    margin-right:0;
}
.email-n-sub-wrap button{
    width:25%;
}
.footer-wrap{
    height:700px;
    width:100%;
    margin-top:50px;
   /*  border:1px solid yellow; */
    flex-direction: column;
}
.services-stuff-wrap{
    width:98%;
   /*  border:1px red solid; */
    margin-right:auto;
}
.socio{
   /*  border:red solid 2px; */
    margin-left:0;
    
}

.services-stuff li{
    list-style-type: none;
   /*  border:1px white solid; */
    padding-right:50px;
    width:70%;
}
.logo-stuff{
    width:70%;
   /*  border:yellow 1px solid; */
    padding-left:20px;
    height:450px;
}

}